<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EsteticaCrud"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaración de VistaUsuarioActivity -->
        <activity android:name=".vista.VistaUsuarioActivity"
            android:exported="false">
            <!-- Puedes agregar más configuraciones aquí si es necesario -->
        </activity>

        <!-- Declaración de VistaUsuarioActivity -->
        <activity android:name=".vista.VistaEmpleadoActivity"
            android:exported="false">
            <!-- Puedes agregar más configuraciones aquí si es necesario -->
        </activity>

        <!-- Declaración de VistaUsuarioActivity -->
        <activity android:name=".vista.AgendarCitaActivity"
            android:exported="false">
            <!-- Puedes agregar más configuraciones aquí si es necesario -->
        </activity>

        <!-- Declaración de VistaUsuarioActivity -->
        <activity android:name=".vista.VerCitasActivity"
            android:exported="false">
            <!-- Puedes agregar más configuraciones aquí si es necesario -->
        </activity>

        <!-- Declaración de VistaUsuarioActivity -->
        <activity android:name=".vista.CreateAccountActivity"
            android:exported="false">
            <!-- Puedes agregar más configuraciones aquí si es necesario -->
        </activity>

        <!-- Declaración de VistaUsuarioActivity -->
        <activity android:name=".vista.ListUsersEmployeesActivity"
            android:exported="false">
            <!-- Puedes agregar más configuraciones aquí si es necesario -->
        </activity>

        <!-- Declaración de VistaUsuarioActivity -->
        <activity android:name=".vista.EditarCitaActivity"
            android:exported="false">
            <!-- Puedes agregar más configuraciones aquí si es necesario -->
        </activity>

        <!-- Declaración de VistaUsuarioActivity -->
        <activity android:name=".vista.EditarEmpleadoActivity"
            android:exported="false">
            <!-- Puedes agregar más configuraciones aquí si es necesario -->
        </activity>


    </application>

</manifest>